<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>
<body>

<h1 style="text-align:left;">Order Request</h1>


  Requester:{{index . 0}}</br>
  {{with index . 1}}
  Meal:{{.Name}}</br>
  Price:{{.Price}}¥</br>
  Popularity:{{.Popularity}}</br>
  {{end}}

<form action="/order" method="post">
  <label for="acceptselect">Acceptor</label>
  <select name="{{index . 3}}" id="acceptselect">
  {{range $user := index . 2}}
  <option value="{{.UserID}}:{{.Name}}">{{.Name}}</option>
  {{end}}
  </select>
  <button>提交</button>
</form>

</body>
</html>